<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                {{/*<h3 class="box-title"><a href="/backend/news/add/news"><button type="button" class="btn btn-block btn-default">新增文章</button></a></h3>*/}}
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody><tr>
                        <th style="width: 10px">ID</th>
                        <th>文章</th>
                        <th>赞</th>
                        <th>内容</th>
                        <th>创建时间</th>
                        <th>修改时间</th>
                    </tr>
                    {{range $i, $v := .list}}
                    <tr>
                        <td>{{$v.ID}}</td>
                        <td>{{$v.ArticleName}}</td>
                        <td>{{$v.CommentLikeCount}}</td>
                        <td>{{$v.CommentContent}}</td>
                        <td>{{$v.CreatedAt | TimeToDate}}</td>
                        <td>{{$v.UpdatedAt | TimeToDate}}</td>
                    </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            {{.PageHtml | strToHtml}}
        </div>
    </div>
</div>
